<div class="search">
  <form #form = "ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="city">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/day.png" *ngIf="weatherData.main.temp > 15">
    <img src="../assets/night.png" *ngIf="weatherData.main.temp <= 15">
    <div class="weather-data">
      <div class="location">
        {{weatherData.name}}
      </div>
      <div class="temperature">
        {{ weatherData.main.temp| fahtocel | number: '1.0-0' }}°C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information

    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/day.png" alt="min">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min | fahtocel | number: '1.1-1' }}°C
        </div>      
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/day.png" alt="max">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max | fahtocel | number: '1.1-1' }}°C
        </div>      
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/day.png" alt="humidity">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}%
        </div>      
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/day.png" alt="speed">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed}} km/h
        </div>      
      </div>
    </div>

  </div>
</div>

<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/day.png" *ngIf="14 > 15">
    <img src="../assets/night.png" *ngIf="14 <= 15">
    <div class="weather-data">
      <div class="location">
        India
      </div>
      <div class="temperature">
        {{ 31.1 | number: '1.0-0' }}°C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information

    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/day.png" alt="min">
          <span>min</span>
        </div>
        <div class="info-block-value">
          30°C
        </div>      
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/day.png" alt="min">
          <span>max</span>
        </div>
        <div class="info-block-value">
          35°C
        </div>      
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/day.png" alt="min">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          87%
        </div>      
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/day.png" alt="min">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          11.95 km/hr
        </div>      
      </div>
    </div>

  </div>
</div> -->
<router-outlet></router-outlet>
